*{
    margin: 0px ; 
    padding:0px; 
}
body{
    background : linear-gradient(45deg, #0a0a0a , #3a4452) ;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

.container{
    border: 1px solid #717377;
    padding: 30px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 3px 15px rgba(18, 121, 238, 0.966);

}

input{
    width: 87%;
    /* border: none; */
    padding:22px;
    font-size: 28px;
    text-align: right;
    background-color: transparent;
   cursor: pointer;
   color: white ;
   margin-bottom: 23px;

}

button{
    border-radius: 50%;
    border: none;
    width: 70px;
    height: 55px;
    margin: 7px;
    font-size: 23px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(58, 120, 245, 0.5);
    cursor: pointer;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin-bottom: 22px;
}

.equalbtn{
    background-color: rgb(238, 72, 11);
}
.equalbtn1:hover{
    background-color: rgb(238, 72, 11);
}


.press:hover{
  background-color: #1000a3da;
  
}
