
*{
    margin: 0px ; 
    padding:0px; 
}
body{
    background : linear-gradient(75deg, #0a0a0a , #3a4452) ;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

.container{
    border: 1px solid #717377;
    padding: 1rem;
    width: 25.4rem;
    border-radius: 5px;
    box-shadow: 0px 3px 15px rgba(18, 121, 238, 0.966);

}

input{
    width:23rem ;
    /* border: none; */
    padding:22px;
    font-size: 28px;
    text-align: right;
    background-color: transparent;
   cursor: pointer;
   color: white ;
   margin-bottom: 23px;

}

button{
    border-radius: 50%;
    border: none;
    width: 4.5rem;
    height: 3rem;
    margin: 7px;
    font-size: 23px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(58, 120, 245, 0.5);
    cursor: pointer;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin-bottom: 22px;
}

.equalbtn{
    background-color: rgb(238, 72, 11);
}
.equalbtn1:hover{
    background-color: rgb(238, 72, 11);
}


.press:hover{
  background-color: #1000a3da;
  
}

@media only screen and ( max-width: 400px)
    {
     button{
        width : 4rem; 
     }
    }

@media only screen and ( max-width: 320px )
    {
     button{
        width : 3.2rem; 
     }
    }

@media only screen and ( max-width: 390px )
    {
     button{
        width : 4.4rem; 
     }
    }

@media only screen and ( max-width: 360px )
    {
     button{
        width : 4.2rem; 
     }
    }

@media only screen and ( max-width: 375px )
    {
     button{
        width : 4rem; 
     }
    }

@media only screen and ( max-width: 280px )
    {
     button{
        width : 2.7rem; 
     }
    }


     
